.profile-container {
  display: flex;
  max-width: 1140px;

  gap: 40px;
  margin-top: 40px;
  font-family: Inter;
}
.dark .baslık h1 {
  color: #aebccf;
}
.baslık h1 {
  font-weight: 600;
  font-size: 48px;
}
.profile-box {
  max-width: 413px;
  display: flex;
  align-items: center;
}
.profile h1 {
  font-weight: 600;
  font-size: 30px;
  color: #4338ca;
}
.bilgi-cevap {
  display: flex;
  gap: 50px;
}
.dark .bilgi-cevap p {
  color: #6b7280;
}
.bilgi {
  font-weight: 600;
  font-size: 18px;
}
.cevap {
  font-weight: 400;
  font-size: 18px;
}
.about-box {
  display: flex;
  padding-top: 70px;
  max-width: 520px;
}
.About {
  font-weight: 400;
  font-size: 18px;
  color: #6b7280;
}
.About h1 {
  font-weight: 500;
  font-size: 30px;
  color: #4338ca;
}
.dark .About h1 {
  color: #b7aaff;
}
