.profile-container {
  display: flex;
  width: 1140px;
  height: 355px;
  gap: 40px;
}
.baslık h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 48px;
}
.profile-box {
  width: 413px;
  display: flex;
  align-items: center;
}
.profile h1 {
  font-size: Inter;
  font-weight: 600;
  font-size: 30px;
  color: #4338ca;
}
.bilgi-cevap {
  display: flex;
  gap: 50px;
}
.bilgi {
  font-size: Inter;
  font-weight: 600;
  font-size: 18px;
}
.cevap {
  font-size: Inter;
  font-weight: 400;
  font-size: 18px;
}
.about-box {
  display: flex;
  padding-top: 70px;
  width: 520px;
}
.About {
  font-size: Inter;
  font-weight: 400;
  font-size: 18px;
  color: #6b7280;
}
.About h1 {
  font-size: Inter;
  font-weight: 500;
  font-size: 30px;
  color: #4338ca;
}
