/* Ana container stil tanımları */
.projects-container {
  max-width: 1140px;
  border-top: 1px solid #bab2e7;
  font-family: Inter;
}

/* Tema değişikliği için stil tanımları */
.dark .projects-baslik h1 {
  color: #aebccf;
}
.dark .projects h2 {
  color: #cfcbff;
}
.dark .buttton1,
.dark .buttton2,
.dark .buttton3 {
  background-color: #383838;
  color: #8f88ff;
  border: 1px solid #8f88ff;
}

/* Başlık stil tanımları */
.projects-baslik {
  font-weight: 600;
  font-size: 48px;
}

/* Proje kartları stil tanımları */
.projects {
  display: flex;
  gap: 80px;
}
.workintechh,
.Random,
.journey {
  max-width: 300px;
}
.resim1,
.resim2,
.resim3 {
  height: 180px;
}

/* Buton stil tanımları */
.butttton {
  padding-top: 20px;
}
.buttton1,
.buttton2,
.buttton3 {
  min-width: 68px;
  height: 27px;
  border: 1px solid #3730a3;
  border-radius: 4px;
  margin-right: 20px;
  color: #3730a3;
}

/* Açıklama stil tanımları */
.workintechh p,
.Random p,
.journey p {
  font-weight: 400;
  font-size: 14px;
  color: #6b7280;
}

/* Proje adı stil tanımları */
.project-baslik h2 {
  color: #3730a3;
  font-weight: 500;
  font-size: 30px;
  font-family: Inter;
}

/* Link stil tanımları */
.link {
  display: flex;
  justify-content: space-between;
  color: #3730a3;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}

/* Tema değişikliği için link stil tanımları */
.dark .link {
  color: #e1e1ff;
}
