.footer-container {
  max-width: 1440px;
  background-color: #f9f9f9;
  margin-top: 70px;
  height: 220px;
}
.dark .footer-container {
  background-color: #141414;
  border: none;
}
.email {
  display: flex;
  gap: 10px;
  padding-left: 80px;
}
.footer-link {
  display: flex;
  justify-content: space-between;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
}
.iletisim {
  display: flex;
  gap: 20px;
  padding-right: 180px;
}
.dark .footer {
  color: #aebccf;
}
.footer {
  font-size: 42px;
  width: 500px;
  height: 106px;
  margin-bottom: 50px;
  font-weight: 600;
  padding-left: 80px;
}
.footer h1 {
  font-size: 42px;
  font-weight: 600;
  font-family: Inter;
}
.yesil {
  color: #00ab6b;
}
.mavi {
  color: #0077b5;
}
.renk {
  color: #af0c48;
}
.dark .renk {
  color: #bab2e7;
}
.dark .iletisim {
  color: #e1e1ff;
}
