/* Ana container stil tanımları */
.mode-container {
  font-family: Inter;
  text-align: right;
  max-width: 1140px;
}

/* Genel stil tanımları */
.mode-container button {
  font-size: 50px;
  padding: 8px;
  cursor: grab;
  color: #4731d3;
  transition: transform 0.3s, color 0.3s;
}

/* Dil stil tanımları */
.dil {
  font-size: 15px;
  font-weight: 700;
  color: #4731d3;
  padding-left: 20px;
  cursor: grab;
}

/* Dark mode için dil stil tanımları */
.dark .dil {
  color: #bab2e7;
}

/* Aydınlık mod buton stil tanımları */
.mode-container button:hover {
  transform: translateX(5px);
  color: #4731d3;
}

/* Dark mode için ana metin stil tanımları */
.dark-mode {
  font-size: 15px;
  font-weight: 700;
  color: #777777;
  padding-right: 20px;
}

/* Ek olarak kullanılan metin stil tanımları */
.as {
  font-size: 15px;
  font-weight: 700;
  color: #777777;
}
