.dark-mode {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  color: #777777;
}
.mode-container {
  text-align: right;
  width: 1140px;
}
.dil {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  color: #4731d3;
}
.as {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  color: #777777;
}
