:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-bg: #252128;
}

body {
  margin: 0;
}
.dark body {
  background-color: var(--dark-bg);
}
@media screen and (max-width: 992px) {
  .max-w-screen-xl mx-auto border {
    background-color: black;
  }
  .resim {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 20px;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
