:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-bg: #252128;
}

body {
  margin: 0;
}
.dark body {
  background-color: var(--dark-bg);
}

@media screen and (max-width: 992px) {
  .resim {
    display: none;
  }
  .skills-list {
    display: flex;
    gap: 10px;
  }
  .baslık {
    display: none;
  }
  .about-box {
    margin: 0px;
  }
  .projects {
    display: flex;
    gap: 10px;
  }
  .projects h2 {
    font-size: 20px;
  }
  .projects .butttton {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .email {
    display: flex;
    align-items: center;
  }
  .footer {
    font-size: 20px;
    margin: 0;
  }
  .footer-link {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .workintechh img {
    object-fit: cover;
  }
}
@media screen and (max-width: 576px) {
  .nav-item3 {
    display: flex;
    padding: 0;
  }
  .baslik h1 {
    font-size: 40px;
  }
  .buton {
    flex-direction: column;
    max-width: 10px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
