/* Ana container stil tanımları */
.skills-container {
  max-width: 1140px;
  border-top: 1px solid #bab2e7;
  border-bottom: 1px solid #bab2e7;
  padding-bottom: 20px;
  font-family: Inter;
}

/* Tema değişikliği için stil tanımları */
.dark .skills {
  color: #aebccf;
}

/* Başlık stil tanımları */
.skills {
  height: 64px;
  font-weight: 600;
  font-size: 48px;
}

/* Başlık altı listesi stil tanımları */
.skills-list {
  display: flex;
  gap: 90px;
}

/* Dil başlığı stil tanımları */
.skills-list h1 {
  font-weight: 500;
  font-size: 30px;
  color: #4338ca;
}

/* Dil açıklaması stil tanımları */
.skills-list p {
  padding-top: 20px;
  max-width: 300px;
  font-weight: 400;
  font-size: 15px;
  color: #6b7280;
}
